body {
  background: linear-gradient(-45deg, #830707, #272020, #201c1c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 0 60px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #570808;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #420606;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 30px;
}
